/BooleanEx.class
/CharacterEx1.class
/CharacterEx2.class
/CharacterEx3.class
/Constant.class
/DoubleEx1.class
/DoubleEx2.class
/ExplicitConversion.class
/ImplicitConverstion.class
/TypeInference.class
/Variable1.class
/Variable2.class
